
$padding: 0;
$margin: 0;
$background-image: url("back.jpg");
$background-repeat: no-repeat;
$background-size: cover;
$height: 100%;
$left: 40%;
$top: 5rem;
$color: white;
$background-color: #086eb06b;
$width: fit-content;
$padding-h1: 6px 15px;
$border-radius-h1: 11px;
$font-size-h1: 24px;
$filter-h1: drop-shadow(2px 4px 6px black);
$position-kaban: relative;
$margin-kaban: 6rem 2rem 0;
$display-kaban: grid;
$width-kaban: 95%;
$gap-kaban: 5px;
$column-gap-kaban: 15px;
$padding-bottom-kaban: 30px;
$padding-column: 15px 5px;
$border-radius-column: 10px;
$background-color-column: rgba(255, 255, 255, 0.752);
$height-column: fit-content;
$padding-card: 10px 20px;
$background-color-card: white;
$margin-top-card: 5px;
$border-radius-card: 10px;
$color-tagClose: red;
$margin-tagClose: 7px 15px 5px 100%;
$margin-left-tags: 20px;
$padding-top-tags: 10px;
$padding-bottom-tags: 15px;
$background-color-front: rgb(28, 212, 28);
$color-front: white;
$border-radius-front: 50px;
$padding-front: 4px 0 3px 3px;
$background-color-back: rgb(230, 49, 49);
$color-back: white;
$border-radius-back: 50px;
$padding-back: 4px 0 3px 4px;
$background-color-device: rgb(225, 246, 37);
$color-device: white;
$border-radius-device: 50px;
$padding-device: 4px 6px;
$background-color-card-hover: rgba(83, 83, 158, 0.781);
$color-hover: black;
$color-hover-h3: white;
